fastapi==0.115.6
uvicorn[standard]==0.32.1

SQLAlchemy==2.0.36
asyncpg==0.30.0

python-jose[cryptography]==3.3.0
python-dotenv==1.0.1
python-multipart==0.0.12
python-telegram-bot==20.8
openai==1.57.2
pytest==8.3.5
backports.zoneinfo==0.2.1; python_version < "3.9"
eval-type-backport==0.2.0; python_version < "3.10"
